<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>

	<link rel="stylesheet" href="../styles/index.css">
	<title>Finance Manager</title>
</head>
<body>

<div class="container", id="mainContainer">
	
		 <div>
		 	<img id="monthlyImg" src="../images/TEST.png">
		 </div>
			<br>
	 		<p>
	 			Hi, there!<br>
	 			Together we're gonna do some budegting!<br>
	 			Lets start by entering your current checking acount amount below!
	 		</p>


	 	<!-- <div class="column"><br></div> -->
	 	<div class="row">
	 		<div class="column" id="checking">
				<form class="bold" id='currentCheckingAmtForm'> 
					<div class="form-group" >
						<label >Current Checking Account Amount</label>
						<input type="number" class="form-control currency" id="currentCheckingAmtInput"  placeholder="$0.00" step=".01">
						<button type="submit"  class="btn btn-primary">Next</button>
					</div>
					
				</form>
	 		</div>
	 	</div>
		 <div class="row">
		 	<div class="column"><br></div>
		 </div>
	 </div>
</body>
<script type="text/javascript" src="../controller/index.js"></script>
</html>