<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
	 <link rel="stylesheet" href="../styles/index.css">
	<title>Finance Manager</title>
</head>
<body>
	<div class="container", id="mainContainer">
		 <div>
		 	<img id="monthlyImg" src="../images/TEST.png">
		 </div>
		 <p>
		 	Wholly Smokes we did it!
		 </p>
		 <p>
		 	First of all great Job!
		 </p>
		 <p>
		 	Second, next month everything you set as reoccuring will auto populte. 
		 </p>
		 <p>
		 	If the values need to be changed though you can still do that. 
		 </p>
		 <p>
		 	You're probably wondering whats the point of all this?
		 </p>
		 <p>	
		 	Whats the pouint of anything? JK! This will hopefully be an eaiser way to see two things. 
		 </p>
		 <p>	
		 	How much you can afford to spend on nonessential things but also also how spending can impact your savings!
		</p>	
		<div class="row">
			<div class="column">
				<p>this is where some more content will go</p>
			</div>
		</div> 
	</div>
</body>
</html>